div {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  border-radius: 8px;
}

h1 {
  text-align: center;
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

p[style*="color: green;"] {
  color: #28a745;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  transition: transform 0.2s ease-in-out;
  position: relative;
}

li:hover {
  transform: scale(1.02);
}

.film-content {
  display: flex;
  align-items: flex-start;
}

.film-content img {
  max-width: 150px;
  margin: 15px;
}

.film-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
  margin-top: 8px;
}

p {
  font-size: 14px;
  margin: 5px 0;
}

button.actions {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 15px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-weight: bold;
  font-size: 14px;
}

button.actions:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

p {
  font-size: 16px;
  color: #777;
}

.mensagem {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  z-index: 9999;
}

.mensagem.fade-out {
  opacity: 0;
}
